<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Создана новая группа "{{ group.name }}"
    <br>
    <br>
    <p>

        Перейдите  на <a href="google.com">сайт</a>, чтобы посмотреть

    </p>
    <br>
    <br>
    <i>Students site &copy;</i>
</body>
</html>