{% extends 'base.html' %}
{% load i18n %}

{% block content %}
        {% if form.instance.id %}
            <h1 class="header is-size-4">{% trans 'Изменить группу' %}</h1>
        {% else %}
            <h1 class="header is-size-4">{% trans 'Добавить группу' %}</h1>
        {% endif %}
<br>
    <div class="columns is-half">

        <form method="post">
            {% csrf_token %}
            <div class="field">
                <label class="label">{% trans 'Название' %}</label>
                <div class="control">
                    {{ form.name }}
                </div>
            </div>

            <div class="field">
                <label class="label">{% trans 'Курс' %}</label>
                <div class="control">
                    {{ form.course }}
                </div>
            </div>
            <div class="field">
                <div class="select is-rounded">
                    <label class="label">{% trans 'Предмет' %}</label>
                    {{ form.stream }}
                </div>
            </div>
            <br>
            <button type="submit" class="is-rounded is-warning button">{% trans 'Сохранить' %}</button>
        </form>
    </div>
{% endblock %}