{% extends 'base.html' %}

{% block content %}

        <h1 class="header is-size-4">Добавить учителя</h1>
<br>
    <div class="columns is-half">

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="is-rounded is-warning button">Создать</button>
        </form>
    </div>
{% endblock %}