{% extends 'base.html' %}
{% load i18n %}

{% block content %}

        <h1 class="header is-size-4">{% trans 'Добавить студента в группу' %} {{ group.name }}</h1>
<br>
    <div class="columns is-half">

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="is-rounded is-warning button">{% trans 'Создать' %}</button>
        </form>
    </div>
{% endblock %}