{% load static %}
{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Django site</title>
        <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/students.css' %}">
    </head>
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://bulma.io">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                   data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a href="{% url 'home_page' %}" class="navbar-item">
                        {% trans 'Главная' %}
                    </a>

                    <a href="/about" class="navbar-item">
                        {% trans 'О нас' %}
                    </a>

                    <a href="{% url 'teachers' %}" class="navbar-item">
                        {% trans 'Учителя' %}
                    </a>

                    <a href="{% url 'feedback' %}" class="navbar-item">
                        {% trans 'Обратная связь' %}
                    </a>

                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
<!--                        <div class="select">-->
<!--                            <select>-->
<!--                                <option name="language" value="en">EN</option>-->
<!--                                <option name="language" value="ru">RU</option>-->
<!--                            </select>-->
<!--                        </div>-->
                        <form method="post" action="{% url 'set_language' %}">
                            {% csrf_token %}
                            <button type="submit" name="language" value="en">EN</button>
                            <button type="submit" name="language" value="ru">RU</button>
                        </form>
                        <div class="buttons">
                           {% if user.is_authenticated %}
                            <a href="{% url 'profile' %}" class="button is-primary">
                                <strong>{{ user.username }}</strong>
                            </a>
                            <a href="{% url 'logout' %}" class="button is-light">
                                {% trans 'Выход' %}
                            </a>
                        {% else %}
                            <a href="{% url 'register' %}" class="button is-primary">
                                <strong>{% trans 'Регистрация' %}</strong>
                            </a>
                            <a href="{% url 'login' %}" class="button is-light">
                                {% trans 'Вход' %}
                            </a>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="notification is-success">
                        <button class="delete"></button>
                        {{ message }}
                    </div>
                {% else %}
                    <div class="notification is-danger">
                        <button class="delete"></button>
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
            {% block content %}
                <h1>Base template</h1>
            {% endblock %}
        </div>
    </body>
</html>