{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<!--    <form method="post" action="{% url 'set_language' %}">-->
<!--        {% csrf_token %}-->
<!--        <button type="submit" name="language" value="en">EN</button>-->
<!--        <button type="submit" name="language" value="ru">RU</button>-->
<!--    </form>-->
    <a class="button" href="{% url 'add_group' %}">{% trans 'Добавить группу' %}</a>

    <h1 class="header is-size-4">{% trans 'Группы' %}</h1>
    <ul>
        {% for group in groups %}
        <li><a href="{% url 'group' group.id %}">{{ group.name }}</a></li>
        {% endfor %}
    </ul>
    {% get_available_languages as LANGUAGES %}
{% endblock %}