{% extends 'base.html' %}
{% load static %}

{% block content %}
    <a class="button" href="{% url 'add_teacher' %}">Добавить учителя</a>

    <h1 class="header is-size-4">Учители</h1>
    <ul>
        {% for teacher in teachers %}
        <li>{{ teacher.name }}</li>
        {% endfor %}
    </ul><br>
{% endblock %}