{% extends 'base.html' %}

{% block content %}
    <h1>Вход на сайт</h1>
    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" class="button is-link" value="Войти">
    </form>
{% endblock %}