{% extends 'base.html' %}

{% block content %}
    <h1>Личный кабинет</h1>
    <p><strong>Логин: </strong>{{ user.username }}</p>
    <p><strong>Имя: </strong>{{ user.first_name }}</p>
    <p><strong>Фамилия: </strong>{{ user.last_name }}</p>
    <p><strong>e-Mail: </strong>{{ user.email }}</p>
    <p><strong>Дата регистрации: </strong>{{ user.date_joined }}</p>



{% endblock %}

<!--fields = ('username', 'first_name', 'last_name', 'email', 'is_staff')-->