{% extends 'base.html' %}

{% block content %}
    <h1>Регистрация</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button is-success">Зарегистрировать</button>
    </form>
{% endblock %}